* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #656060;
}

li {
    list-style: none;
}

.thumbnail-table{
        width: 40px;
    height: 60px;
    margin: 0 auto;
    background: transparent center/cover no-repeat;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container-preview-image{
    background: transparent center/contain no-repeat;
    width: 100%;
    height: 300px;
}

.ng-invalid{
    border: 1px solid #f00 !important;
}

.ng-valid{
    border: 1px solid #076707 !important;
}