<form>
    <div>
        <label>
            Name:
        </label>
        <input [(ngModel)]="deck.name" />
    </div>
    <div>
        <label>
            Type:
        </label>
        <select [(ngModel)]="deck.type" [value]="deck_type.Deck">
            <option *ngFor="let item of deck_type | enumPipe" [value]="item.key">
                {{item.value}}
            </option>
        </select>
    </div>
    <div>
        <label>
            Price:
        </label>

        <input [(ngModel)]="deck.price" />
    </div>
    <div>
        <label>
            Purchase Date:
        </label>
        <input type="date" [(ngModel)]="deck.purchase_date" />
    </div>

    <div>
        <input type="file" accept="image/*" (change)="changeImage($event.target.files)"/>
    </div>
</form>

<div>
    <button type="button" (click)="save()">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
</div>