<form #formDeck="ngForm">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="txt-name">Name</label>
                <input type="text"
                       class="form-control"
                       id="txt-name"
                       [(ngModel)]="deck.name"
                       ngControl="name"
                       required>
            </div>
            <div class="form-group">
                <label for="txt-type">Type</label>
                <select class="form-control" id="txt-type" [(ngModel)]="deck.type" [value]="deck_type.Deck">
                    <option *ngFor="let item of deck_type | enumPipe" [value]="item.key">
                        {{item.value}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="txt-price">Price</label>
                <input type="text" class="form-control" id="txt-price" [(ngModel)]="deck.price">
            </div>

            <div class="form-group">
                <label for="input-date">Purchase Date</label>
                <input type="date" class="form-control" id="input-date" [(ngModel)]="deck.purchase_date">
            </div>
        </div>

        <div class="col-md-4">
            Imagem
            <div class="container-preview-image" [style.backgroundImage] ="previewUrlImage">

            </div>
            <div>
                <span class="btn btn-default btn-file">
                    Browse <input type="file" accept="image/*" (change)="changeImage($event.target.files)" />
                </span>
                <button type="button" (click)="deleteImage()" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</form>

<div>
    <button type="button" (click)="save()" class="btn btn-success" [disabled]="!formDeck.form.valid">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
</div>