<div class="container-button-table">
    <button type="button" (click)="add()" class="btn btn-default">Add</button>
    <button type="button" (click)="refresh()" class="btn btn-default">Refresh</button>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    Thumbnail
                </td>
                <td>
                    Name
                </td>
                <td>
                    Price
                </td>
                <td>
                    Purchase Date
                </td>
                <td>
                    Options
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let deck of decks">
                <td>
                    <div [style.backgroundImage]="setThumbnail(deck)" class="thumbnail-table"></div>
                </td>
                <td>{{deck.name}}</td>
                <td>{{deck.price}}</td>
                <td>{{deck.purchase_date | myDate}}</td>
                <td>
                    <button type="button" class="btn btn-default" (click)="edit(deck)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="delete(deck)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>